<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar justify-content-center navbar-expand navbar-dark bg-dark mb-5">
        <a class="navbar-brand" href="#">Whatsapp Messaging</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{home}}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {{whatsappMsg}}">
                    <a class="nav-link" href="/whatsapp-msg">Send Msg</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>

    <ul class="nav justify-content-center bg-dark mt-5">
        <p class="text-white pt-3">
            &copy; 2019 Dinesh Seervi
        </p>
    </ul>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>