<div>
    <h2>
        Send Whatsapp Msg :
    </h2>
</div>
<form style="width: 9cm">
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="number" class="form-control" id="phoneNumber" placeholder="Ex : 7877613144">
    </div>
    <div class="form-group">
        <label for="msg">Your Message</label>
        <textarea class="form-control" id="msg" placeholder="Your Message" required></textarea>
    </div>
    <div class="form-group">
        <label for="mediaURL">Send Image (Must be an url)</label>
        <input type="text" class="form-control" id="mediaURL" placeholder="www.imgworlds.com/123.jpg">
    </div>
    <button id="sendWp" class="btn btn-primary">Submit</button>
</form>