<form action="/photos" method="post" enctype="multipart/form-data">
    <input type="file" name="multiFileUpload" multiple />
    <button type="submit">Multiple Upload</button>
</form>

<br><br><br><br>

<form action="/single" method="post" enctype="multipart/form-data">
    <input type="file" name="singleFileUpload" />
    <button type="submit">Single Upload</button>
</form>