<div class="container">

    <h1>
        All Projects
    </h1>

    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6 ">
            <input type="text" class="form-control" id="myInput" placeholder="Search...." title="Type to see result">
        </div>
    </div>
    <table class="table table-hover table-dark mt-2" id="allProjectTable">
        <thead>
            <tr>
                <th scope="col">Serial</th>
                <th scope="col">Studio Name</th>
                <th scope="col">Party</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">DVD's</th>
                <th scope="col">Received On</th>
                <th scope="col">Delivred On</th>
                <th scope="col">Total Payment</th>
                <th scope="col">Payment Received</th>
                <th scope="col">Payment Due</th>
                <th colspan="1">Action</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>